<main>
  <app-recursos-aprendizaje />

  <hr />

  <app-autenticacion />

  <!--   @if(esAdmin()){

  <p>Solo los administradores verán esto</p>
  } -->
  <!--   <p *ngIf="esAdmin()">Solo los administradores verán esto</p>  Directiva Estructural (vieja, deprecada pero funciona)-->

  <!--   <ng-template appAutenticacion="admin">
    <p>Solo los administradores verán esto</p>
  </ng-template> -->
  <p *appAutenticacion="'admin'" appMonitor class="contenido-protegido admin">Solo los administradores verán esto</p>
  <p *appAutenticacion="'usuario'" class="autenticado">Los usuarios regulares verán esto</p>
  <p *appAutenticacion="'invitado'" class="no-autenticado">Los invitados verán esto</p>
</main>

<!-- ng-template encapsula los elementos del DOM, pero en primera instancia esos elementos no se renderizan.
 Se renderizan cuando es necesario, en este caso, la directiva estructural decide cuando renderizar y mostrar el contenido
 de ng-template. (Lo vemos en la plantilla pero no renderizado.)
 Cabe destacar que ng-template puede tener más de un elemento contenido, no solamente un parrafo. -->