<main>
  <article class="temperaturas">
    <header>
      <img src="temp-icon.png" alt="Icono de termómetro" />
      <div>
        <h2>Temperaturas Actuales</h2>
        <p>{{ fechaActual |date:'medium'}}</p>
      </div>
    </header>
    <p>Nueva York: {{ temperaturasActuales.nuevaYork|number:'1.0-2'}}</p>
    <p>Berlín: {{ temperaturasActuales.berlin|number:'1.0-2' }}</p>
    <p>París: {{ temperaturasActuales.paris|number:'1.0-2' }}</p>
    <p>Chicago: {{ temperaturasActuales.chicago|number:'1.0-2' }}</p>
  </article>

  <article class="temperaturas">
    <header>
      <img src="temp-icon.png" alt="Icono de termómetro" />
      <div>
        <h2>Temperaturas Históricas</h2>
        <p>Berlín</p>
      </div>
    </header>
    <ul>
      @for (temperatura of temperaturasHistoricas; track temperatura) {
      <li (click)="reiniciarTemperatura($index)">{{ temperatura }}</li>
      }
    </ul>
  </article>
</main>