<main>
  <article class="temperaturas">
    <header>
      <img src="temp-icon.png" alt="Icono de termómetro" />
      <div>
        <h2>Temperaturas Actuales</h2>
        <p>{{ fechaActual |date:'medium'}}</p>
      </div>
    </header>
    <p>Nueva York: {{ temperaturasActuales.nuevaYork |temp:'cel':'fah'}}</p>
    <p>Berlín: {{ temperaturasActuales.berlin|temp:'cel'}}</p>
    <p>París: {{ temperaturasActuales.paris|temp:'fah':'cel'}}</p>
    <p>Chicago: {{ temperaturasActuales.chicago|temp:'fah'}}</p>
  </article>

  <article class="temperaturas">
    <header>
      <img src="temp-icon.png" alt="Icono de termómetro" />
      <div>
        <h2>Temperaturas Históricas</h2>
        <p>Berlín</p>
      </div>
    </header>
    <ul>
      @for (temperatura of temperaturasHistoricas ; track temperatura) {
      <li (click)="reiniciarTemperatura($index)">{{ temperatura|temp:'cel'}}</li>
      }
    </ul>
  </article>
</main>